<p> Name: <%= @project.name %> </p>
<p> Material: <%= @project.material %> </p>
<p> Theme: <%= @challenge.theme %> </p> 
<p>Count: <%= @project.contestants.count %> </p>
<p> Average Experience: <%= @project.contestants.average(:years_of_experience) %> </p>