<h1><%= "Projects Show Page" %></h1>
<br>
<h3><%= @project.name %></h1>
<%= "Material: #{@project.material}" %><br>
<%= "Challenge Theme: #{@project.challenge.theme}" %><br>
<%= "Number of Contestants: #{@project.contestant_count}" %><br><br>
