<h1>Project Show Page</h1>

<h3>Name:</h3><%= @project.name %>
<h3>Material:</h3><%= @project.material %>
<h3>Challenge Theme:</h3><%= @challenge.theme %>
<h3>Number of Contestants:</h3><%= @contestant_count %>
<h3>Average Contestant Experience:</h3><p><%= @average_experience %> years</p>
