<h1><%= @project.name %></h1>
<%= "Material: #{@project.material}" %>
<%= "Challenge Theme: #{@project.challenge.theme}" %>
<%= "Number of Contestants: #{@project.how_many_contestants}" %>
<%= "Average Contestant Experience: #{@project.contestant_experience}" %>