<h1><%= @project.name %></h1>

<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @challenge_theme %></p>
<p>Number of Contestants: <%= @sum_contestants %></p>
<p>Average Contestant Experience: <%= @contestant_experience.round(2) %> years</p>
<br>
<h3>Add contestant to <%= @project.name %></h3>
<%= form_with url: "/contestant_projects", local: true do |f| %>
  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.label :contestant_id, 'Input contestant ID' %>
  <%= f.text_field :contestant_id %>
  <%= f.submit 'Add Contestant to Project' %>
<% end %>