<h1><%= @project.name %></h1>
<h2>Challenge Theme:</h2>
<%= @project.challenge.theme %>
<h2>Project Material:</h2>
<%= @project.material %>
<p>Number of Contestants:
<%= @project.contestants.size %></p>
<p>Average years of experience on team:
<%= (@project.contestants.average(:years_of_experience)).to_i %> years</p>