<h1>Project <%= @project.name %></h1>
<ul>
  <li>Material: <%= @project.material %></li>
  <li>Challenge Theme: <%= @challenge.theme %></li>
  <li>Number of Contestants: <%= @count %></li>
  <li>Average Contestant Experience: <%= @ace %> years</li>
</ul>