<h1>Project <%= @project.name %></h1>
<ul>
  <li>Material: <%= @project.material %></li>
  <li>Challenge Theme: <%= @challenge.theme %></li>
  <li>Number of Contestants: <%= @count %></li>
  <li>Average Contestant Experience: <%= @ace %> years</li>
</ul>

<%= form_with url: "/projects/#{@project.id}", method: :get, local: true do |f| %>
  <%= f.label :contestant_id %>
  <%= f.text_field :contestant_id %>
  <%= f.submit "Add Contestant To Project" %>
<% end %>