<html>
<h1><%= @project.name %></h1>

<h3>Material:  </h3>
<p><%= @project.material %></p>
<br>
<h3>Challemege Theme:  </h3>
<p><%= @project.challenge_theme %></p>
<br>
<h3>Number  of Contestants on <%= @project.name %>:</h3> <%= @project.contestants_count %>

</html>




